// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

// BASIC COLORS
$black= #1a1a1a
$white= #ffffff
$grey= #79838e
$subtitle= #79838e
$blue= #f2fafd
$dark = #061e29;
$error= #ed5937

body {
  font-size: 22px
  line-height: 50px
  color: $grey
}

h1 {
  font-size: 50px;
  line-height: 60px;
  color: $dark;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: $dark;
  line-height: 42px;
  margin-bottom: 20px
}

h3 {
  color: $grey
}

.bespoke-parent {
  background: $dark;
}

.bespoke-slide {
  background: $white;

  img {
    position:relative;
    width: 100%;
  }
}

.aws-slide div {
  width: 380px
  img {
    width: 100%
    height: auto
  }
}

.logo-slide {
  padding: 0 15%;
}

.css-fuckup {
  .css-include {
    width 335px
    height 84px
  }
  .css-overwrite {
    width 432px
    height auto
  }
}

code {
  font-size 16px
}

code[class*="language-"], pre[class*="language-"] {
  line-height 26px
}

.bespoke-progress-bar {
  background: url('/images/rainbow-line.jpg');
}