doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title How we use modular Sass at inSided

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 How we use modular Sass at inSided
        p <br>
        p Anne Ties van Vliet 
        p @anneties

      section
        h2 inSided 
        h3 Create custom communities and <br> consultancy for corporate companies. 
        img(src='/images/insided-clients.png')

      section
        img(src='/images/t-mobile.png')

      section
        img(src='/images/reaal.png')

      section
        img(src='/images/ns.png')

      section
        img(src='/images/default.png') 

      section(class='css-fuckup')
        img(src='/images/css-include.png' class='css-include')
        img(src='/images/css-overwrite.png' class='css-overwrite')

      section
        img(src='/images/jackie-chan.jpeg' class='jackie-chan')

      section
        h1 Time to refactor
        ul
          li BEM methodology 
          li Rewrite templates in modules
          li Sass adjusted to modules
          li Keep Sass in one central place
          li Render automated style guides per customer
          li Oh let's throw in an javascript refactor while we are at it

      section
        h2 Render Sass from one central spot
        ul
          li All Sass files will be available in the core folder
          li New functionalities will automatically be styled
          li The Sass files will be split up in modules
          li Feed variables to core files from your theme Sass file, get rendered css back into your theme
          li Customize Sass modules by copying them into your theme

      section
        pre
          code.language-javascript.
            -Themes
             |-Client-name
               |-Sass
                 |settings.scss            
                  output.scss
            -Core
             |-Assets
               |-Sass
                 |-apps
                  -global
                  -helpers
                  -modules
                  -patterns

      section
        h2 Compiling file
        pre
          code.language-css.
            //imports THIS THEME's settings file.
            @import '_settings.scss';

            //imports the CORE of Barebones. 
            //importing this fill will give you 
            //ALL Insided's SASS-functionality 
            //without outputting any CSS.
            @import '@core-path/utilities/sass/_core-importer.scss';

            //imports all SASS files that will actually output CSS, 
            //based on the CORE functionality imported above.
            @import '_outputs.scss';

      section
        h2 _settings.scss
        pre
          code.language-css.
            // Which apps does the client use?
            $apps : ('forum');

            // brand color(s)
            $color-brand                    : #006;
            $color-contrast                 : #fc3;

            $site-width                     : 980px;
            $maincol-width                  : 100%;
            $sidebar-width                  : 240px;
            $gutter                         : 10px;

      section
        h2 _core-importer.scss
        pre
          code.language-css.
            @import 'global/grid';
            @import 'global/typography/fonts';
            @import 'global/typography/type_base';
            @import 'global/typography/headers';

            @import 'patterns/specific/spinner/spinner_base';
            @import 'patterns/specific/seperator/seperator_base';
            @import 'patterns/specific/tooltip/tooltip_base';
            @import 'patterns/patterns';

      section
        h2 output.scss
        pre
          code.language-css.
            @import '../vendors/barebone-sass/patterns/specific/spinner/spinner_output';
            @import '../vendors/barebone-sass/patterns/generic/links/links_output';
            @import '../vendors/barebone-sass/patterns/generic/forms/form-textual_output';
            @import '../vendors/barebone-sass/patterns/generic/forms/form-labels_output';
            @import '../vendors/barebone-sass/patterns/generic/forms/forms_output';
            @import '../vendors/barebone-sass/patterns/specific/avatar/avatar_output';
            @import '../vendors/barebone-sass/patterns/abstract/groups/flag_output';
            
            @import 'additions';

      section(data-bespoke-hash='named-route')
        img(src='http://media.giphy.com/media/SKGo6OYe24EBG/giphy.gif')

      section
        img(src='http://s3.amazonaws.com/f.cl.ly/items/1M0k0u0I3U0e2g2t3d0T/Screen%20Recording%202015-02-08%20at%2008.24%20pm.gif')

    script(src='build/build.js')